In [1]:
import pandas as pd
import numpy as np
import sys, os 
import csv
import glob
from datetime import datetime

In [2]:
#we need a way to get the directory with all the csv files, this is to test 
#a method for getting all the files

In [3]:
#we'll use glob to access the files, create a path to the csv's
path ="csv/*.csv"
csv_list = glob.glob(path)

In [4]:
len(csv_list)

9

In [5]:
#use some loops to go through each csv file, write each line into a single open csv file
with open('citi_ride.csv', 'a') as singleFile:
    for csvFile in glob.glob("csv/*.csv"):
        for line in open(csvFile, 'r'):
            singleFile.write(line)

In [6]:
#lets just take a quick look at it. 
df = pd.read_csv('citi_ride.csv')

In [7]:
df.dtypes

tripduration               object
starttime                  object
stoptime                   object
start station id           object
start station name         object
start station latitude     object
start station longitude    object
end station id             object
end station name           object
end station latitude       object
end station longitude      object
bikeid                     object
usertype                   object
birth year                 object
gender                     object
dtype: object

In [8]:
df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-03-01 06:37:37.0380,2018-03-01 06:43:06.5520,3183,Exchange Place,40.7162469,-74.0334588,3202,Newport PATH,40.7272235,-74.0337589,29284,Subscriber,1981,1
1,118,2018-03-01 07:37:30.1210,2018-03-01 07:39:28.3910,3183,Exchange Place,40.7162469,-74.0334588,3184,Paulus Hook,40.7141454,-74.0335519,29465,Subscriber,1966,1
2,76,2018-03-01 08:26:17.9390,2018-03-01 08:27:34.6770,3183,Exchange Place,40.7162469,-74.0334588,3184,Paulus Hook,40.7141454,-74.0335519,29681,Subscriber,1975,1

In [9]:
df.dtypes

tripduration               object
starttime                  object
stoptime                   object
start station id           object
start station name         object
start station latitude     object
start station longitude    object
end station id             object
end station name           object
end station latitude       object
end station longitude      object
bikeid                     object
usertype                   object
birth year                 object
gender                     object
dtype: object